$primary-light: #f8f8f8;
$primary: #23272a;
$primary-dark: #202225;
$secondary: #d2161e;
$secondary-dark: #c71922;
$white: #fff;
$white-smoke: #efefef;
$light-gray: #b5b8be;
$gray: #7b7d81;
$dark-gray: #2c2d2e;
$black: #000;