@import './colors';
@import './animations';
@import './hamburger';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 80px;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
}

.fixed-body {
	overflow: hidden;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.shadow {
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 11;
	opacity: 0;
	transition: opacity 1s;

	&--active {
		display: block;
		opacity: 1;
	}
}

.section-title {
	color: $black;
	font-size: 3rem;
	font-weight: 900;
	text-transform: uppercase;
}

.section-title span {
	color: $secondary;
}

.section-text {
	padding: 1em 0;
	color: $primary;
	line-height: 150%;
}

.scroll-to-top-btn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	padding: 0.2em 0.4em;
	color: $black;
	border-radius: 50%;
	font-size: 3rem;
	cursor: pointer;
	transition: transform 0.3s;

	&--active {
		display: block;
		animation: scroll-btn-animation 0.3s;
	}

	&:hover {
		transform: scale(0.9);
	}
}

// NAV
.nav {
	position: absolute;
	top: 0;
	width: 100%;
	padding: 1em 0.5em 1em 1.5em;
	height: 80px;
	z-index: 10;

	&--active {
		position: fixed;
		top: 0;
		background-color: $white;
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
		animation: nav-animation 0.5s;
	}

	&--active .navbar__brand {
		color: $black;
	}

	&--active .navbar__item {
		color: $black;
	}

	&--active .hamburger-inner,
	&--active .hamburger-inner::before,
	&--active .hamburger-inner::after {
		background-color: $black;
	}
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;

	&__brand {
		text-decoration: none;
		font-size: 3rem;
		color: $white;
		font-weight: bold;
		letter-spacing: 1.5px;
	}

	&__brand span {
		color: $secondary;
	}

	&__mobile {
		position: fixed;
		top: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		padding: 4.8em 0;
		height: 100vh;
		width: 300px;
		background-color: $white;
		border-top-left-radius: 8px;
		border-bottom-left-radius: 8px;
		border-left: 1px solid $white-smoke;
		transform: translateX(150%);
		transition: transform 0.3s cubic-bezier(0.77, 0, 0.175, 1);
		z-index: 12;

		&--active {
			transform: translateX(0);
		}
	}

	&__desktop {
		display: none;
	}

	&__item {
		padding: 1em 2em;
		font-size: 1.7rem;
		color: $black;
		text-decoration: none;
		border-radius: 8px;
		transition: background-color 0.3s;

		&:hover {
			background-color: rgba(0, 0, 0, 0.1);
		}
	}
}

// HEADER
.header {
	position: relative;
	display: flex;
	align-items: center;
	height: 70vh;
	min-height: 375px;
	background-image: url('../img/header-img-small.jpg');
	background-size: cover;
	background-position: center;
	padding: 1.5em;
	z-index: 0;

	&--contact {
		height: 35vh;
	}

	&__shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		z-index: -1;
	}

	&__text-box {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		margin-top: 2em;
		color: $white;
		text-align: left;
	}

	&__title {
		font-size: 2.8rem;
	}

	&__text {
		margin: 1.2em 0 2em;
		max-width: 600px;
		font-size: 1.4rem;
		line-height: 150%;
		opacity: 0.7;
	}

	&__btn {
		padding: 0.8em 3em;
		color: $white;
		font-size: 1.6rem;
		background-color: $secondary;
		text-decoration: none;
		border-radius: 30px;
		transition: background-color 0.3s, box-shadow 0.3s;

		&:hover {
			background-color: $secondary-dark;
			box-shadow: -2px 3px 10px rgba(0, 0, 0, 0.5);
		}
	}
}

// MAIN
// ABOUT
.about {
	padding: 5em 1.5em;

	&__list {
		list-style: none;
	}

	&__item {
		position: relative;
		margin: 1em 0;
		line-height: 150%;

		&-link {
			position: relative;
			text-decoration: none;
			color: $black;
			font-weight: bold;
			transition: color 0.3s;
			cursor: pointer;

			&::before {
				content: '';
				position: absolute;
				bottom: -5px;
				left: -2.5%;
				height: 2px;
				width: 105%;
				background-color: $secondary;
				transition: height 0.3s;
				z-index: -1;
			}

			&:hover {
				color: $white;
			}

			&:hover::before {
				height: 140%;
			}
		}
	}

	&__item .fas {
		margin-right: 0.5em;
		color: $secondary;
	}
}

// SKILLS
.skills {
	position: relative;
	padding: 0 1.5em;
	height: 350px;
	background-image: url('../img/header-img-small.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: 0 70%;
	color: $white;
	font-size: 2rem;
	z-index: 0;

	&__box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
	}

	&__item {
		display: flex;
		align-items: center;

		&-icon {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0.5em;
			margin: 0.5em;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			border: 2px solid $white;
		}

		&-text {
			margin-left: 1em;
		}
	}
}

// OFFER
.offer {
	padding: 5em 1.5em;
	background-color: $primary-light;

	&__item {
		margin: 4em 0;
		padding: 1.5em 1.5em 2em;
		background-color: $white-smoke;
		border-radius: 8px;

		&:last-child {
			margin-bottom: 0;
		}

		&-title {
			font-size: 2.4rem;
			font-weight: bold;
		}

		&-title span {
			color: $secondary;
		}

		&-subtitle {
			font-weight: bold;
		}

		&-text {
			margin: 1em 0;
			line-height: 120%;
			color: $dark-gray;
		}

		&-price {
			margin-bottom: 1.5em;
			font-size: 2rem;
		}

		&-price span {
			font-weight: bold;
		}

		&-btn {
			visibility: visible;
			padding: 0.6em 2.5em;
			color: $white;
			background-color: $secondary;
			text-decoration: none;
			border-radius: 30px;
			transition: background-color 0.3s, box-shadow 0.3s;

			&:hover {
				background-color: $secondary-dark;
				box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.2);
			}
		}
	}
}

// HELP
.help {
	position: relative;
	padding: 0 1.5em;
	height: 350px;
	background-image: url('../img/header-img-small.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	color: $white;
	z-index: 0;

	&__box {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__text {
		padding: 2em 3em;
		font-size: 2rem;
		border: 1px solid $white;
	}
}

// PORTFOLIO
.portfolio {
	padding: 5em 1.5em;

	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
		width: 100%;

		&-text-box {
			order: 2;
			display: flex;
			justify-content: center;
			align-items: start;
			flex-direction: column;
		}

		&-title {
			font-size: 2.4rem;
			font-weight: bold;
		}

		&-text {
			margin: 1em 0 1.5em;
			color: $dark-gray;
		}

		&-btn {
			padding: 0.6em 2.5em;
			color: $white;
			background-color: $secondary;
			text-decoration: none;
			border-radius: 30px;
			transition: background-color 0.3s, box-shadow 0.3s;

			&:hover {
				background-color: $secondary-dark;
				box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.2);
			}
		}

		&-img {
			order: 1;
			width: 100%;
			max-width: 550px;
		}
	}
}

// CONTACT
.contact {
	padding: 4em 1.5em;

	&__box {
		display: flex;
		flex-direction: column;
	}

	&__title {
		margin-bottom: 0.5em;
		font-size: 2.4rem;
		color: $primary;
	}
}

.info {

	&__box {
		margin-bottom: 3em;
	}

	&__text {
		padding-top: 1.2em;
		font-size: 1.8rem;
	}

	&__text span {
		font-weight: bold;
	}

	&__text .fas {
		margin-right: 0.5em;
		color: $secondary;
	}
}

.form {

	&__box form {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
	}

	&__input {
		font-family: 'Montserrat', sans-serif;
		margin: 1em 0;
		padding: 1em;
		width: 100%;
		font-size: 1.6rem;
		background-color: $white-smoke;
		border: none;
		border-radius: 3px;
	}

	&__textarea {
		font-family: 'Montserrat', sans-serif;
		margin: 1em 0;
		padding: 1em;
		width: 100%;
		min-width: 100%;
		max-width: 100%;
		min-height: 50px;
		max-height: 200px;
		font-size: 1.6rem;
		background-color: $white-smoke;
		border: none;
		border-radius: 3px;
	}

	&__btn {
		font-family: 'Montserrat', sans-serif;
		margin-top: 1em;
		padding: 0.8em 4em;
		font-size: 1.6rem;
		color: $white;
		background-color: $secondary;
		border: none;
		border-radius: 30px;
		cursor: pointer;
		transition: background-color 0.3s, box-shadow 0.3s;

		&:hover {
			background-color: $secondary-dark;
			box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.2);
		}
	}
}

.map {
	margin-bottom: 2.5em;
}

// ERROR
.error {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 1.5em;
	width: 100vw;
	height: 100vh;

	&__title {
		color: $black;
		font-size: 3rem;
		font-weight: 900;
		text-align: center;
	}

	&__btn {
		margin-top: 1em;
		padding: 0.7em 1.5em;
		color: $white;
		background-color: $secondary;
		text-decoration: none;
		border-radius: 30px;
		transition: background-color 0.3s, box-shadow 0.3s;

		&:hover {
			background-color: $secondary-dark;
			box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.2);
		}
	}
}

// FOOTER
.footer {
	padding: 0.5em 1.5em;

	&__box {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}

	&__text {
		margin: 0.5em 0;
		order: 2;
	}

	&__links {
		order: 1;
	}

	&__link {
		padding: 0 0.2em;
		font-size: 3rem;
	}

	&__link .fa-github {
		color: #161b22;
	}

	&__link .fa-linkedin {
		color: #0a66c2;
	}
}

@import './small';
@import './medium';
@import './large';
